.list-group-item {
    padding: 0px; /* Adjust overall padding */
}

.mb-2 {
    margin-bottom: 5px; /* Reduce margin between elements */
}

.fs-5 {
    margin-bottom: 10px; /* Reduce space below the description */
}

.d-flex {
    margin-top:0px; /* Reduce space above the button section */
    margin-bottom: 15px;
}

.img-thumbnail {
    margin: 0 auto; /* Center the image */
}
