.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.card:hover {
  transform: scale(1.05) translateY(-10px); /* Slightly scale up and move upwards */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* Larger shadow for more depth */
}

.mb-4 {
  margin-bottom: 20px;
}
.card-body {
  background-color: #f8f9fa; /* Light grey background */
}
.text-primary {
  color: #007bff; /* Bootstrap primary color */
}
